__pycache__
.mypy_cache
*.egg-info
*imviz.ini
*.so
*.swp
*.swo
.idea
.venv
build/
library/templates/cmake-build-*
library/eval/results/
library/eval/videos/
library/eval/previews/
library/test/test_sim_results/
docker/docker_home_cache/*
!docker/docker_home_cache/.gitkeep
.main.imviz.ini
.imviz_save
eval/scenarios/test_sim_results/
